
@{
    Layout = "~/views/Shared/_LAdmin.cshtml";
}
<div class="center_div" style="display:table-cell">

    <div class="center_div center_text">
       
        </div>
 
        <div>
            
            <img src="~/Images/logoadmin.png" width="1360" height="400">  
          
        </div>

    </div>
</div>

