@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center_title_bar"><h1>Shipping Information</h1></div>
<div class="center_content">
    <div class="center_title_bar"><p>Shipping is free in Pakistan all over the country</p></div>
    <div class="center_title_bar"><p>Extra Charges will be for other countries.</p></div>
</div>